# load trained model

In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import tensorflow as tf

In [8]:
from tensorflow import keras
from tensorflow.keras import layers

In [12]:
#keras model es
model_loaded_es = keras.models.load_model("keras_model_es.keras")

In [15]:
#load test dataset
df_test = pd.read_csv("../../digit-recognizer/test.csv")
df_test.head()

,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [17]:
#extract features and normalise
x_test = df_test.values / 255.0 # normalise to [0,1]

# reshape to 28x28x1 for CNN
x_test = x_test.reshape(-1, 28, 28, 1)

In [22]:
predictions = model_loaded_es.predict(x_test)

875/875 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step

In [27]:
predictions_values = predictions.argmax(axis = 1)

In [32]:
loadedmodel_es = pd.DataFrame({
    "ImageId": range(1, len(predictions)+1),  # 1-based indexing
    "Label": predictions_values
})

loadedmodel_es.to_csv("QR_keras_loadedmodel_es.csv", index=False)